name: Copilot CLI Automation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  generate-python-file:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: LS repo contents
        shell:  bash
        run: |
         ls -la .        
        
      - name: Install Flake 8 and run evaluation against
        shell: bash
        run: |
          sudo  apt install python3-flake8 -y
          python3 -V
          flake8 ./src >> flake8.txt
          ls -la .
          cat flake8.txt
          
          


     # - name: Install GitHub Copilot CLI
       # run: npm install -g @github/copilot

     # - name: Authenticate Copilot CLI
      #  env:
       #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       #   COPILOT_TOKEN: ${{ secrets.COPILOT_PAT }}
      #  run: |
      #    echo "$COPILOT_TOKEN" | copilot auth login --token-stdin

      - name: Create testreport directory and list contents
        run: |
          mkdir -p testreport
          ls -la .

     # - name: Use Copilot CLI to generate Python file
      #  run: |
      #    copilot -p "create a simple python file to print hello world and save to helloworld.py in the root folder"
