name: Copilot CLI Automation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  generate-python-file:
    runs-on: ubuntu-latest

    steps:
      #- name: Update apt packages
       # shell: bash
     #   run: sudo apt-get update && sudo apt-get upgrade -y
        
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: LS repo contents
        shell:  bash
        run: |
         ls -la .   

      - name: Set up Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Upgrade npm to 11.x or above
        run: npm install -g npm@latest
        
      - name: Install Flake 8 and run evaluation against
        shell: bash
        run: |
          sudo 
          apt install python3-full
          apt install python3-pip -y
          apt install python3-venv -y
          apt install python3-flake8 -y
          python3 -V
          python3 -m pip install flake8
          python3 -m flake8 . >> flake8.txt
          cat flake8.txt
          


     # - name: Install GitHub Copilot CLI
       # run: npm install -g @github/copilot

     # - name: Authenticate Copilot CLI
      #  env:
       #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       #   COPILOT_TOKEN: ${{ secrets.COPILOT_PAT }}
      #  run: |
      #    echo "$COPILOT_TOKEN" | copilot auth login --token-stdin

      - name: Create testreport directory and list contents
        run: |
          mkdir -p testreport
          ls -la .

     # - name: Use Copilot CLI to generate Python file
      #  run: |
      #    copilot -p "create a simple python file to print hello world and save to helloworld.py in the root folder"
