name: Flake8 Lint

on:
  push:
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'
  workflow_dispatch:
    

jobs:
  flake8:
    name: Run flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8 and save report
        shell: bash
        continue-on-error: true
        run: |
          # set -o pipefail
          mkdir -p "$(dirname flake8.txt)" || true
          flake8 ./src| tee flake8.txt

      - name: Upload flake8 output
        uses: actions/upload-artifact@v4
        with:
          name: flake8-report
          path: flake8.txt
